@import url("utility.css");

:root {
    --header-bgcolor: #9F2064;
    --aside-1-bgcolor: #106396;
    --aside-2-bgcolor: #26A4B4;
    --article-bgcolor: #25B67B;
    --column-bgcolor: #E4185B;
    --footer-bgcolor: #E06B26;
    --body-bgcolor: #B2B5BE;
}

.flex-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px dashed green;
}

.flex-item {
  background-color: rgba(var(--flex-color), 0.25);
  border: 1px solid rgba(var(--flex-color), 1);
  padding: 2em;
  border-radius: 1rem;
}

@media screen and (min-width: 768px) {
  .flex-container {
    flex-flow: row nowrap;
    justify-content: flex-end;
  }
}
